<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="reproductorDeMusica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <reproductorDeMusica.Properties.Settings>
            <setting name="rutaCanciones" serializeAs="String">
                <value>C:\\Documents and Settings\\alumno\\Mis documentos\\Mi música\\(2002) Johnny Cash - American IV-The Man Comes Around</value>
            </setting>
        </reproductorDeMusica.Properties.Settings>
    </applicationSettings>
</configuration>